{% extends 'layouts/base.html.twig' %}

{% block title %}Добро пожаловать {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Редактирование Профиля</div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Ошибка:</span>
                                    {{ error }}
                                </div>
                            {% endif %}
                            {% if message %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </span>
                                <input type="text" class="form-control" value="{{ app.user.email }}" disabled="disabled" />
                            </div>
                            <div class="input-group">
                                 <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                 </span>

                                {% if is_granted('ROLE_LANDLORD') %}
                                    {% set userRoleName  = 'Арендодатель' %}
                                {% elseif is_granted('ROLE_TENANT') %}
                                    {% set userRoleName  = 'Арендатор' %}
                                {% endif %}
                                <input type="text" class="form-control" value="{{ userRoleName }}" disabled="disabled" />
                            </div>
                            {% if form_errors(form.passport) %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form_errors(form.passport) }}
                                </div>
                            {% endif %}
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </span>

                                {{ form_widget(form.passport, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Паспортные данные'
                                    }
                                }) }}
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                                </span>

                                {{ form_widget(form.password, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Пароль'
                                    }
                                }) }}
                            </div>
                            <div class="input-group">
                                {{ form_widget(form.save, {
                                    'label' : 'Сохранить',
                                    'attr': {'class' : 'form-control'}
                                }) }}
                            </div>

                            {{ form_end(form) }}
                            {{ include('components/widjets/ulogin_social_bind_profile.html.twig') }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

