<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Онлайн бронирование</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homePage') }}">Главная</a></li>
                {% if app.user %}
                    {% if is_granted('ROLE_LANDLORD') %}
                        <li><a href="{{ path('app_booking_add') }}" style="padding: 8px;"><button class="btn btn-success">Зарегистрировать новый объект</button></a></li>
                    {% endif %}
                    <li><a href="{{ path('account') }}">Профиль</a></li>
                    <li><a href="{{ path('logout') }}">Выход</a></li>
                {% else %}
                    <li><a href="{{ path('auth') }}">Вход</a></li>
                    <li><a href="{{ path('app-sign-up') }}">Регистрация</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>