{% extends 'layouts/base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Добро пожаловать</h1>
        <p>Сайт онлайн бронирования</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Фильтры
                    </div>
                    <div class="panel-body">
                        <div class="block-filter">
                            <input type="text" id="name" class="form-control" placeholder="Название"><br>
                            <input type="text" id="price-from" class="form-control" placeholder="Цена от"><br>
                            <input type="text" id="price-to" class="form-control" placeholder="Цена до"><br>
                            <select class="form-control" id="type-object">
                                <option value="pension">Пансионат</option>
                                <option value="сottage">Коттедж</option>
                            </select><br>
                            <div class="block-dop-field-pension">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="pension_shower">
                                    </span>
                                    <label class="form-control" for="pension_shower">Душ</label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="pension_bunkBeds" value="1">
                                    </span>
                                    <label class="form-control" for="pension_bunkBeds">двухъярусные кровати</label>
                                </div>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="pension_BigTV" value="1">
                                </span>
                                    <label class="form-control" for="pension_BigTV">Большой телевизор</label>
                                </div>
                            </div>
                            <div class="block-dop-field-сottage" style="display: none">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="cottage_Kitchen" value="1">
                                    </span>
                                    <label class="form-control" for="cottage_Kitchen">Кухня</label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="cottage_bathroom" value="1">
                                    </span>
                                    <label class="form-control" for="cottage_bathroom">ванная</label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="cottage_jacuzzi" value="1">
                                    </span>
                                    <label class="form-control" for="cottage_jacuzzi">джакузи</label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="cottage_pool" value="1">
                                    </span>
                                    <label class="form-control" for="cottage_pool">бассейн</label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="cottage_garage" value="1">
                                    </span>
                                    <label class="form-control" for="cottage_garage">Гараж</label>
                                </div>
                            </div>
                            <button class="btn bg-primary" id="search">Поиск</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row search-block">
                    {% for bookingObject in bookingObjectsResult %}
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="{{ asset('assets/img/no_photo.jpeg') }}" alt="no_photo">
                            <div class="caption">
                                <h3>{{ bookingObject.name }}</h3>
                                <p><b>E-mail:</b>{{ bookingObject.authorEmail }}</p>
                                {% if bookingObject.type == 'cottage' %}
                                    <p><b>Тип обьекта:</b>Коттедж</p>
                                {% elseif bookingObject.type == 'pension' %}
                                    <p><b>Тип обьекта:</b>Пансионат</p>
                                {% endif %}
                                <p><b>Адрес:</b>{{ bookingObject.address }}</p>
                                <p><b>Телефон:</b>{{ bookingObject.phone }}</p>
                                <p><b>Количество номеров:</b>{{ bookingObject.numberRooms }}</p>
                                <p><b>Цена за номер:</b>{{ bookingObject.pricePerDay }}</p>
                                <p><a href="{{ path('app_booking_show', {'id' : bookingObject.id}) }}" class="btn btn-primary" role="button">Подробнее</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        <div class="navigation">
                            {{ knp_pagination_render(bookingObjectsResult) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#search").click(function () {

            var dopField =  {};
            var name = $("#name").val();
            var priceFrom = $("#price-from").val();
            var priceTo = $("#price-to").val();
            var typeObject = $("#type-object").val();

            if (typeObject === "pension") {
                dopField.shower = $("#pension_shower").prop("checked");
                dopField.bunkBeds = $("#pension_bunkBeds").prop("checked");
                dopField.BigTV = $("#pension_BigTV").prop("checked");
            } else if(typeObject === "сottage") {
                dopField.Kitchen = $("#cottage_Kitchen").prop("checked");
                dopField.bathroom = $("#cottage_bathroom").prop("checked");
                dopField.jacuzzi = $("#cottage_jacuzzi").prop("checked");
                dopField.pool = $("#cottage_pool").prop("checked");
                dopField.garage = $("#cottage_garage").prop("checked");
            }

            $.post("{{ path('app_booking_search') }}", {
                name,
                priceFrom,
                priceTo,
                typeObject,
                dopField
            }, function (response) {
                $(".search-block").html(response.result);
            });

        });

        $("#type-object").on("change", function () {

            var type = $(this).val();

            if (type === "pension") {
                $(".block-dop-field-сottage").hide();
                $(".block-dop-field-pension").show();
            } else if(type === "сottage") {
                $(".block-dop-field-pension").hide();
                $(".block-dop-field-сottage").show();
            }

        });
    </script>
{% endblock %}
