{% extends 'layouts/base.html.twig' %}

{% block title %}Форма добавления обьекта бронирования! {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">Форма добавления обьекта</div>
                        <div class="panel-body">
                            {{ form_start(formBooking) }}
                            <label for="booking_object_name">Выбор из двух типов</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                </span>
                                {{ form_widget(formBooking.type, {
                                    'attr' : {
                                        'class' : 'form-control'
                                    }
                                }) }}
                            </div>
                            <label for="booking_object_name">Наименования обьекта</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </span>
                                {{ form_widget(formBooking.name, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Наименования обьекта'
                                    }
                                }) }}
                            </div>
                            <label for="booking_object_name">Количество комнат</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </span>
                                {{ form_widget(formBooking.numberRooms, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Количество комнат'
                                    }
                                }) }}
                            </div>
                            <label for="booking_object_name">Контактное лицо</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                {{ form_widget(formBooking.contactPerson, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Контактное лицо'
                                    }
                                }) }}
                            </div>
                            <label for="booking_object_name">Контактыный номер</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                </span>
                                {{ form_widget(formBooking.phone, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Контактыный номер'
                                    }
                                }) }}
                            </div>
                            <label for="booking_object_name">Адресс</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                </span>
                                {{ form_widget(formBooking.address, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Адресс находит автоматически после клика по карте'
                                    }
                                }) }}
                            </div>
                            <label for="booking_object_name">Цена за день</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    $
                                </span>
                                {{ form_widget(formBooking.pricePerDay, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Цена за день'
                                    }
                                }) }}
                            </div>
                            <div class="input-group">
                                {{ form_widget(formBooking.more, {
                                    'label' : 'Далее',
                                    'attr': {'class' : 'form-control'}
                                }) }}
                            </div>
                            {{ form_widget(formBooking) }}
                            {{ form_end(formBooking) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Укажите местоположения на карте.</div>
                        <div class="panel-body">
                            <div style="width:100%;height:480px;border: 3px solid rgba(189, 189, 189, 0.35);">
                                <div id="map" style="width:100%;height:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        ymaps.ready(init);

        function init() {
            var myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [42.424036766668124, 77.30321455987422],
                    zoom: 8,
                    controls: ['geolocationControl','searchControl','zoomControl']
                }, {
                    searchControlProvider: 'yandex#search'
                });

            // Слушаем клик на карте.
            myMap.events.add('click', function (e) {
                var coords = e.get('coords');

                // Если метка уже создана – просто передвигаем ее.
                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                }
                // Если нет – создаем.
                else {
                    myPlacemark = createPlacemark(coords);
                    myMap.geoObjects.add(myPlacemark);
                    // Слушаем событие окончания перетаскивания на метке.
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                }
                getAddress(coords);
                var coordenates = String(coords).split(",");
                $('#booking_object_lat').val(coordenates[0]);
                $('#booking_object_long').val(coordenates[1]);

            });

            // Создание метки.
            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    //draggable: true
                });

            }

            // Определяем адрес по координатам (обратное геокодирование).
            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    var locations_str = firstGeoObject.properties.get('text');
                    locations_str = locations_str.replace('Киргизия,','');

                    myPlacemark.properties.set({
                        iconCaption: firstGeoObject.properties.get('name'),
                        balloonContent: locations_str
                    });

                    $('#booking_object_address').val(locations_str);
                });
            }
        }
    </script>
{% endblock %}