{% extends 'layouts/base.html.twig' %}

{% block title %}Форма добавления обьекта бронирования! {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Доп. поля для Пансионата</div>
                        <div class="panel-body">
                            {{ form_start(formType) }}
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.shower) }}
                                </span>
                                {{ form_label(formType.shower, 'Душ', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.bunkBeds) }}
                                </span>
                                {{ form_label(formType.bunkBeds, 'двухъярусные кровати', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.BigTV) }}
                                </span>
                                {{ form_label(formType.BigTV, 'Большой телевизор', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                {{ form_widget(formType.add, {
                                    'label' : 'Добавить',
                                    'attr': {'class' : 'form-control'}
                                }) }}
                            </div>
                            {{ form_widget(formType) }}
                            {{ form_end(formType) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
