{% extends 'layouts/base.html.twig' %}

{% block title %}Форма добавления обьекта бронирования! {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Доп. поля для Коттеджа</div>
                        <div class="panel-body">
                            {{ form_start(formType) }}
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.Kitchen) }}
                                </span>
                                {{ form_label(formType.Kitchen, 'Кухня', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.bathroom) }}
                                </span>
                                {{ form_label(formType.bathroom, 'ванная', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.jacuzzi) }}
                                </span>
                                {{ form_label(formType.jacuzzi, 'джакузи', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.pool) }}
                                </span>
                                {{ form_label(formType.pool, 'бассейн', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(formType.garage) }}
                                </span>
                                {{ form_label(formType.garage, 'Гараж', {
                                    'label_attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="input-group">
                                {{ form_widget(formType.add, {
                                    'label' : 'Добавить',
                                    'attr': {'class' : 'form-control'}
                                }) }}
                            </div>
                            {{ form_widget(formType) }}
                            {{ form_end(formType) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
