{% extends 'layouts/base.html.twig' %}

{% block title %} Обьекты {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}

