{% for bookingObject in bookingObjectsResult %}
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="{{ asset('assets/img/no_photo.jpeg') }}" alt="no_photo">
            <div class="caption">
                <h3>{{ bookingObject.name }}</h3>
                <p><b>E-mail:</b>{{ bookingObject.authorEmail }}</p>
                {% if bookingObject.type == 'cottage' %}
                    <p><b>Тип обьекта:</b>Коттедж</p>
                {% elseif bookingObject.type == 'pension' %}
                    <p><b>Тип обьекта:</b>Пансионат</p>
                {% endif %}
                <p><b>Адрес:</b>{{ bookingObject.address }}</p>
                <p><b>Телефон:</b>{{ bookingObject.phone }}</p>
                <p><b>Количество номеров:</b>{{ bookingObject.numberRooms }}</p>
                <p><b>Цена за номер:</b>{{ bookingObject.pricePerDay }}</p>
                <p><a href="{{ path('app_booking_show', {'id' : bookingObject.id}) }}" class="btn btn-primary" role="button">Подробнее</a></p>
            </div>
        </div>
    </div>
{% endfor %}