{% extends 'layouts/base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3>{{ bookingObject.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-5">
                                <div class="thumbnail">
                                    <div class="caption">

                                        <p><b>E-mail:</b>{{ bookingObject.authorEmail }}</p>
                                        {% if bookingObject.type == 'cottage' %}
                                            <p><b>Тип обьекта:</b>Коттедж</p>
                                        {% elseif bookingObject.type == 'pension' %}
                                            <p><b>Тип обьекта:</b>Пансионат</p>
                                        {% endif %}
                                        <p><b>Адрес:</b>{{ bookingObject.address }}</p>
                                        <p><b>Телефон:</b>{{ bookingObject.phone }}</p>
                                        <p><b>Количество номеров:</b>{{ bookingObject.numberRooms }}</p>
                                        <p><b>Цена за номер:</b>{{ bookingObject.pricePerDay }}</p>
                                        <hr>
                                        <h3>Номера</h3>
                                        {% for key,number in bookingObject.numbers %}
                                            Номер- {{ key+1 }} ) <b>Дата истечения последней брони:</b> {{ number.numberLastDate }} <a href="#" class="btn btn-success">За Бронировать</a><br><br><hr>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div style="width:100%;height:400px;border: 3px solid rgba(189, 189, 189, 0.35);">
                                    <div id="map" style="width:100%;height:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% if bookingObject.latCoord and bookingObject.longCoord %}
    <script type="text/javascript">

        ymaps.ready(init);

        function init() {
            var myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [{{ bookingObject.latCoord }},{{ bookingObject.longCoord }}],
                    zoom: 8,
                    controls: ['geolocationControl','searchControl','zoomControl']
                }, {
                    searchControlProvider: 'yandex#search'
                });

            // Создание метки
            myPlacemark = createPlacemark([{{ bookingObject.latCoord }},{{ bookingObject.longCoord }}]);
            myMap.geoObjects.add(myPlacemark);
            myMap.behaviors.disable('scrollZoom');
            var dad = document.getElementById('Map');
            ymaps.domEvent.manager
                .add(dad, 'click', function (event) {
                    map.behaviors.enable('drag');
                    console.log(event.get('type'));
                })
                .add(dad, 'mousedown', function (event) {
                    map.behaviors.disable('drag');
                    console.log(event.get('type'));
                });

            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: '{{ bookingObject.address }}'
                }, {preset: 'islands#violetDotIconWithCaption'});

            }
        }
    </script>
    {% endif %}
{% endblock %}

