<h3>Вход через соц сети!</h3>
<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,email,last_name;providers=vkontakte,google,facebook;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fsocial-auth-back;mobilebuttons=0;"></div>